<!DOCTYPE html>
<html>

<head>
    <title>pipette diagnostics</title>

    {% include 'meta.html' %}
    {{ compressor('allCSS', inline=False) }}
</head>

<body>
    <div class="container" style="padding-bottom: 10vh">
        <div class="upper">
            <h1>diagnostics</h1>
        </div>
        <div class="row">
            <div class="twelve columns center">
                <h3>Usage</h3>
                <table align="center">
                    <thead>
                        <tr>
                            <td>Filetype</td>
                            <td>Used</td>
                        </tr>
                    </thead>

                    {% for i in payload %}

                    <tr>
                        <td><b>{{ i["extension"] }}</b></td>
                        <td>{{ i["used"] }}</td>
                    </tr>

                    {% endfor %}

                </table>

                <b>You are using {{ dirSize }} of storage.</b>
                <small><p class="foot">Please watch for remaining space!</p></small>
                <a href="" onclick="window.history.back();">Back</a>
            </div>
        </div>
    </div>
</body>

</html>
