<!DOCTYPE html>
<html>

<head>
    <title>flaskgur</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/raleway.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>
    <div class="container">
        <div class="mid">
            <h1>flaskgur</h1>
            <p>How to use:</p>
        </div>
        <div class="four columns offset-by-four">
            <ol>
                <li>Ask paced for an API key.</li>
                <li>Send a POST request to i.paced.me</li>
                <ul>
                    <li>Be sure to include 'apikey' and 'file'.</li>
                </ul>
                <li>The URL will be returned as response.</li>
            </ol>
        </div>
        <div class="six columns offset-by-three">
            <pre><code>$ curl --form "apikey=some_key; file=@file.path" i.paced.me</code></pre>
        </div>
        <div class="four columns offset-by-four mid" style="padding-top: 5vh">
            <small>You can also clone the repository on <a href="https://github.com/paced/flaskgur">GitHub</a>.</small>
        </div>
    </div>
</body>

</html>
