<!DOCTYPE html>
<html>

<head>
    <title>pipette</title>

    {% include 'meta.html' %}
    {{ compressor('allCSS', inline=False) }}
</head>

<body>
    <div class="container">
        <div class="mid">
            <img src="{{ url_for('static', filename='images/pipette.png') }}"
                 alt="pipette image host">
            <h1>pipette</h1>
            <p>A self-hosted, <a href="https://github.com/paced/pipette">open source</a>, lightweight file host.</p>
            <a href="/diagnostics">View diagnostics.</a>
        </div>
    </div>
</body>

</html>
